.input[type=text] {
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 90%;
	
}
body{
	background-image:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTecGz7wOtFAcT1YBm1wkS_mKfS5fOGwpMwJvB8M1aMBSGVKg6GzQ");
    background-repeat:no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size:100%;
}
div span {
	padding:50px 0px 30px 0px;
 position: absolute;
    right: 0px;
    width:auto;
}

div h3 {
	font-family:Verdana;
	font-style:normal;
	font-size:20px;
	font-weight:bold;
    color: black ;
    padding:40px;
	text-align:center;
}
div p {
    color: blue;
    font-size: 80px;
    font-style:normal;
    font-weight:bold;
    font-family:Verdana;
    padding:50px;
	margin:auto;
	display:block;
	text-align:center;
}

div > button {
   position:relative;
   left:550px;
   color:black;
}
ul > li > a {
     height:15px;
}
div div img {
	padding:30px 1px 10px 1px;

}
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	display: inline;
}
